<%= form_with(model: [@entry, @entry.tags.build], local: true) do |form| %>

  <div class="field">
    <%= form.label :content, "Tag:" %>
    <%= form.text_field :content %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
